body {
     font-family: monospace;
     background-color:#2e2329;
}
button {
     border: none;
     outline: none !important;
     background: none;
}
input {
     border-radius: 5px;
}
.container {
     max-width: 350px;
}
.container .main {
     position: relative;
}
.container .main .info {
     position: absolute;
     top: 81%;
     left: 8%;
}
.container .main .info h6 {
     font-size: small;
     font-weight: bold;
}
#poke-title {
     position: absolute;
     top: 12%;
     left: 45%;
     width: 150px;
}
#poke-input {
     position: absolute;
     top: 63%;
     left: 23%;
     width: 50%;
}
#PokeDex {
     border-radius: 10px;
     width: 350px;
}
#poke-id {
     position: absolute;
     top: 7%;
     left: 11%;
     font-weight: bold;
}
#poke-name {
     position: absolute;
     top: 53%;
     left: 30%;
     font-size: small;
     font-weight: bold;
     letter-spacing: 2px;
}
#poke-image {
     position: absolute;
     top: 27%;
     left: 28%;
     width: 150px;
     height: auto;
     padding-top: 5px;
}
#buttonSearch {
     position: absolute;
     top: 70%;
     left: 32%;
     color:black;
     text-transform: uppercase;
}
#buttonSearch img {
     width: 35px;
     position: absolute;
     top: 73%;
     left: 20%;
}
#buttonRight {
     position: absolute;
     top: 73.3%;
     left: 83.5%;
     color:burlywood;
}
#buttonLeft {
     position: absolute;
     top: 73.3%;
     left: 69%;
     color:burlywood;
}
#buttonUp {
     position: absolute;
     top: 69.2%;
     left: 76.2%;
     color:burlywood;
}
#buttonDown {
     position: absolute;
     top: 77.2%;
     left: 76.2%;
     color:burlywood;
}
#buttonSwitch {
     position: absolute;
     top: 62%;
     left: 8%;
}
#buttonSwitch:active,#buttonSearch:active {
     transform: scale(1.1);
}
footer {
     text-align: center;
     padding-top: 30px;
     color:burlywood;
}